


h1 {
    font-family: 'Fondamento';
    font-size: 36px; /* Use 'font-size' for CSS */
    
}

p {
    font-family: 'Roboto', sans-serif;
}

p2 {
    font-family: 'Roboto', sans-serif; /* Adding a fallback font is good practice */
    font-size: 24px; /* Use 'font-size' for CSS */
    font-weight: bold; /* Use 'font-weight' for CSS */
}

.bold-text {
    font-weight: bold;
}



/* Text Alignment in HTML */

#l-align {
    text-align: left;
    
}

#c-align {
    text-align: center;
    /* to set the border*/
}

.pure-g {
    display: flex;
    justify-content: space-between; /* Ensures space between columns */
    text-align: center;
    justify-content: center; /* Centers content horizontally */
    height: 100%;            /* Ensures the div takes full container height */
    margin-bottom: 5em;
}
.text {
    padding-left: 140px;  /* 50 pixels padding on the left */
    padding-right: 140px; /* 50 pixels padding on the right */
}
.fa-youtube{
    font-size: 50px;
}


body, html {
    background: #f0f0f0;
}

.container {
    width: 80%; /* or fixed width, depending on your design needs */
    padding: 10px;
    margin: auto;
    background: #fff;
    border: 2px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 20px;
    text-align: center;
}

.container2 {
    width: 80%; /* or fixed width, depending on your design needs */
    margin: auto;
    background: #fff;
    border: 2px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 20px;
    padding-left: 20px;  /* 50 pixels padding on the left */
    padding-right: 20px; /* 50 pixels padding on the right */
    margin-bottom: 5em;
}


.intro, .overview {
    margin-bottom: 30px; /* Extra space after the paragraphs */
    padding-left: 140px;  /* 50 pixels padding on the left */
    padding-right: 140px; /* 50 pixels padding on the right */

}

.pure-g2 {
    display: flex;
    justify-content: space-between; /* Ensures space between columns */
    justify-content: center; /* Centers content horizontally */
    height: 100%;            /* Ensures the div takes full container height */
    margin-bottom: 5em;
}
  


