


h1 {
    font-family: 'Fondamento';
    
}

p {
    font-family: 'Roboto';
}

body {
    background-color: #eff0ea;
}

#idselect {
    color: green;
}

.class-select {
    color: blue;
}


/* Fonts in HTML */

#head1 {
    font-family: 'Abril Fatface', cursive;
}

#para1 {
    font-family: 'Lobster', cursive;
}


/* Background in HTML */

.bg-h1 {
    background-color: #2D4B65;
    color: white;
}

.bg-para {
    background-color: #B0C6CF;
}


/* Text Alignment in HTML */

#l-align {
    text-align: left;
    /* to set the border*/
}

#c-align {
    text-align: center;
    /* to set the border*/
}






.pure-g {
    display: flex;
    justify-content: space-between; /* Ensures space between columns */
    
    text-align: center;
    justify-content: center; /* Centers content horizontally */
    height: 100%;            /* Ensures the div takes full container height */

}
.text {
    padding-left: 180px;  /* 50 pixels padding on the left */
    padding-right: 205px; /* 50 pixels padding on the right */
}
.fa-youtube{
    font-size: 50px;
}






  








  


